@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

/* -----------Layout Styling-------------------- */
body{
    padding: 0;
    margin: 0;
}
.App {
    text-align: center;
  }
  
  .flex-container{
    display: flex;
  }
  .sidebar{
    flex: 10%;
    height: 100%;
  }
  .display{
    flex: 90%;
    max-height: 100vh;
    background: rgb(226, 226, 226);
    overflow-y: auto;
    font-family: nunito;
    color: cornflowerblue;
  }
  
/* ---------------------end of Layout--------------------------------------- */

.sidebar-wrapper{
    background: rgb(65, 75, 69);
    min-height: 100vh;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    width: 280px;
    /* height: 100%; */
    /* max-height: 100vh; */
    overflow-y: auto;
    /* display: grid; */
}

.sidebar-title{
    font-family: 'Nunito', sans-serif;
    color: #f1f1f1;  
    font-size: 1.5em;
    text-shadow: 0 0 2px rgba(155, 155, 155, 0.897);
}
.sidebar-username{
    font-size: 1.12em;
    width: calc(100% - 1.12em);
    background: rgba(51, 59, 55, 0.718);
    padding: 0.6em 0.3em;
    text-align: left;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    font-family: 'Exo 2', sans-serif;
    margin-top: 0.5em;
}
.sidebar-username #userName{
    font-size: 0.85em;
}
.DO{
    font-size: 0.8em;
    color: rgb(153, 153, 153);
}
.circle{
    width: 55px;
    height: 55px;
    background: rgba(52, 163, 102, 0.068);
    box-shadow: 0 0 0 3px rgba(56, 81, 190, 0.877);
    border-radius: 50%;
    position: relative;
    float: right;
    margin-top: -1.52em;
    margin-left: -0.5em;
}
.circle:hover .edit{
    color: rgb(70, 125, 226) !important;
}
.sidebar-username:hover .circle{
    box-shadow: 0 0 1px 2px rgba(56, 81, 190, 0.877);
    transition: 0.03s linear;
    cursor: pointer;
    width: 42px;
    height: 42px;
    margin-top: -1.15em;
    margin-right: 0.3em;
}
.circle img{
    border-radius: 50%;
    position: absolute;
    margin-left: 0.26em;
    margin-top: 0.29em;
    box-shadow: 0 0 3px rgba(35, 124, 80, 0.767);
}
.sidebar-username .circle .edit{
    display: none;
}
.sidebar-username:hover .circle .edit{
    display: block;
    font-size: 0.8em;
    position: absolute;
    z-index: 100;
    left: 35%;
    top: 35%;
    color: #f1f1f1;
    transition: 0.3s ease-in;
}
.sidebar-username:hover .circle img{
    display: none;
}
.title-pill{
    /* background: rgba(43, 116, 76, 0.397); */
    color: #f9f9f9;
    border-radius: 1.8em;
    position: relative;
    font-size: 0.7em;
    padding: 0.1em;
    width: calc(100% - 12em);
    margin-left: 5.8em;
    margin-top: -1.5em;
    /* box-shadow: 0 0 0 1px rgba(43, 122, 76, 0.733); */
    box-shadow: 0 0 0 1px rgba(40, 111, 177, 0.733);
    padding: 0.3em;
}

.infoCard{
    padding-top: 0.1em;
    min-height: 140px;
    background: rgba(74, 82, 77, 0.89);
    margin-top: 1em;
}
.styleDiv{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(131, 170, 241, 0.199);
    position: absolute;
    margin-top: -0.65em;
    margin-left: -0.75em;
}
.displayEmail{
    margin-top: 2em;
    margin-left: 1em;
    text-align: left;
}
.displayEmail span{
    margin-left: 0.5em;
    font-size: 0.9em;
    color: #bebebe;
    font-family: nunito;
}

.logout-box{
    margin-top: 8vh;
}
.logout{
    /* margin-top: 10vh; */
    border: 1px solid rgba(86, 125, 197, 0.582);
    padding: 0.6em 2em;
    border-radius: 0.4em;
    margin: 0em 3em;
    cursor: pointer;
    color: rgba(100, 148, 237, 0.568);
    background: none;
    font-size: 1em;
}
.logout:hover{
    color: cornflowerblue;
    background: rgba(75, 100, 146, 0.199);
    border: 1px solid rgba(71, 86, 114, 0.082);
}
.logout:active, .logout:focus{
    color: cornflowerblue;
    border: 1px solid rgba(76, 104, 156, 0.555);
    animation: blink 0.5s infinite alternate ease-in-out;
}
@keyframes blink{
    to{
        /* background: rgba(78, 108, 165, 0.651); */
        background: rgba(78, 108, 165, 0.445);
    }
}
h4{
    color: rgb(98, 146, 236);
}

.chats{
    display: none;
}
.chats h5{
    color: rgb(236, 236, 236);
    letter-spacing: 1px;
    font-family: nunito !important;
}
.chats .chatHighlight{
    height: 25px;
    border-left: 4px solid cornflowerblue;
    margin-top: -2.8em;
}
.chats .chatMembers{
    display: block;
     margin-bottom: 0.1em; 
    text-align: left;
    /* padding: 1em; */
    /* background: rgba(99, 100, 100, 0.479); */
    transition: all 0.3s ease;
}
.chats .chatMembers:hover{
    background: rgba(75, 100, 146, 0.199);
}
.chats .chatMembers:hover .memberStyle{
    box-shadow: 0 0 0 2px cornflowerblue;
}
/* .chats .chatMembers:active {
    background: rgba(100, 148, 237, 0.836);
} */
.chats .chatMembers span{
    margin-left: 3em;
    color: rgb(223, 223, 223);
}
.chats .chatMembers:hover span{
    color: cornflowerblue; 
}
.chats:hover .chatIcon{
    transform: scale(1.4);
}
.chats:hover .chatHighlight{
    opacity: 0;
}
.chats .chatMembers .memberStyle{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -0.48em;
    margin-left: -0.5em;
    box-shadow: 0 0 0 2px steelblue;
}
.chats .chatMembers button{
    background: none;
    padding: 1em;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left !important;
    /* border-right: 5px solid royalblue; */
}
.chats .chatMembers button:focus{
    /* background: rgba(75, 100, 146, 0.199); */
    background: rgba(5, 171, 236, 0.568);
}
.chats .chatMembers button:focus span{
    color: rgb(223, 223, 223);
}
.chats .chatMembers button:focus .memberStyle{
    box-shadow: 0 0 0 2px rgb(223, 223, 223);
}
/* .chats .chatMembers button:focus span{
    color: cornflowerblue;
}
.chats .chatMembers button:focus .memberStyle{
    box-shadow: 0 0 0 2px cornflowerblue;
} */
.chatMembers i{
    float: right;
    color: rgb(223, 223, 223);
    font-size: 0.8rem;
    transition: 0.1s ease;
}
.chatMembers i:hover{
    color: crimson;
    transform: scale(1.3);
}

#memberAvatar{
    border-radius: 50%;
    margin-left: 0.17em;
    margin-top: 0.17em;
}
button::-moz-focus-inner { 
    border: 0; 
} 
/* This also removes the dotted outline when clicked on button ! */

/* ----------------------right Modal Section----------------- */
.right-modal{
    width: 220px;
    height: 100vh;
    margin-top: -22.7vh;
    transform: translateX(200px);
    display: none;
    float: right;
    transition: all 0.5s linear;
    background: rgb(65, 75, 69);
}
.right-modal-content span button{
    text-align: left;
    border: none;
    outline: 0;
    background: none;
    padding: 0.5em 1em;
    display: block;
    margin-bottom: 1em;
    cursor: pointer;
    color: rgb(182, 182, 182);
}
.right-modal-content span button:focus{
    color: cornflowerblue;
}
/* -----------------end of right modal----------------------- */
/* -------------------custom Modal section-------------------------- */
.dashboardModal{
    width: 450px;
    height: 380px;
    /* background: #d4d4d4; */
    background: #f1f1f1;
    margin-top: 15vh;
    margin-left: 50vh;
    border-radius: 0.8em;
    display: none;
    box-shadow: 0 6px 6px 0 rgb(224, 224, 224);
}
.settingInput{
    margin-top: 10vh;
}
.updateProfileButton{
    margin-top: 3em;
    background: none;
    border: none;
    outline: 0;
    font-size: 1.2em;
    color: rgba(190, 190, 190, 0.822);
    padding: 0.5em 1.2em;
    /* box-shadow: 0 0 0 1px #bebebe; */
    border: 1px solid #bebebe;
    cursor: pointer;
    border-radius: 1em;
}
.updateProfileButton:hover{
    border: 1px solid rgba(100, 100, 100, 0.671);
    color: darkgray;
}
#closeBtn{
    margin-top: 0.4em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#buttonRM{
    background: none;
    border: none;
    outline: 0;
    float: right;
    color: #dbdbdb;
    margin-top: 1em;
    cursor: pointer;
    font-size: 1.2em;
}
#buttonRM:hover{
    color: #fff;
}
/* --------------end of custom modal----------------------- */

/* ------------------Feedback Section----------------------------- */
#feedbackFlex{
    display: flex;
    height: 15vh;
    margin-top: 3em;
    background: rgb(194, 228, 240);
    color: #fff;
}
#feedbackFlex .flex1{
    flex: 70%;
    background: rgb(236, 236, 236);
}
#feedbackFlex .flex2{
    flex: 30%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#feedbackInput{
    border: none;
    outline: none;
    width: 350px;
    height: 14.5vh;
    background: none;
    font-size: 1em !important;
    text-align: justify;
    color: rgb(102, 98, 98);
    font-family: 'Roboto Mono', monospace;
    padding: 2.6em 0.5em;
}
#feedbackInput:focus{
    color: rgb(124, 124, 124);
    padding: 0.1em 0.5em;
}
#sendFeedbackAction{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
#sendFeedbackAction:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(243, 247, 255);
}
/* -----------------end of feedback section----------------------- */
/* ---------------------Alert Box Section-------------------------- */
#alertContainer{
    width: 600px;
    height: 700px;
    background: rgba(231, 235, 243, 0.877);
    border-radius: 0.2em;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 1.5em;
    display: none;
    overflow-y: auto;
    box-shadow: 0 7px 7px 0 rgba(129, 128, 128, 0.2);
}
.outerAlertBox{
    background: rgb(137, 173, 221);
    width: 560px;
    height: 100px;
    padding: 0.5em 0.8em;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    border-radius: 0.3em;
    margin: 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.alertBox{
    display: flex;
    border-bottom: 1px solid rgba(228, 228, 222, 0.712);
}
.alertBox button{
    background: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(236, 236, 236);
    margin-left: 1em;
}
.outerAlertBox .url{
    float: left;
}
.outerAlertBox .time{
    margin-top: 1em;
    float: left;
}
#closeNotifyBtn{
    float: right;
    margin-top: -2.4em;
    background: none;
    border: none;
    outline: 0;
    box-shadow: none;
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(180, 180, 180);
}
#closeNotifyBtn:hover{
    color: grey;
}
/* -----------------end of Alert section--------------------------- */

/* ------------------default messages section-------------------------- */
.defaultMessages{
    width: 100%;
    height: 100vh;
    background: rgba(231, 235, 243, 0.877);
    display: none;
}
#defaultMessagesBtn{
    margin-top: 0.5em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    box-shadow: none;
    outline: 0;
    border: 1px solid rgb(201, 201, 201);
    font-size: 1.2em;
    cursor: pointer;
    color: rgb(167, 167, 167);
}
#defaultMessagesBtn:hover{
    color: grey;
    border: 1px solid grey;
}
.botMessageCard{
    background: rgba(70, 131, 180, 0.753);
    /* border: 1px solid rgba(70, 131, 180, 0.425); */
    color: #fff;
    width: 500px;
    height: 200px;
    margin-top: -6.5em;
    margin-left: 8em;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
    box-shadow: 0 5px 5px 0 rgba(223, 223, 223, 0.815);
}
.userMessageCard{
    width: 500px;
    height: 100px;
    border: 1px solid rgba(70, 131, 180, 0.76);
    margin-right: 8em;
    margin-top: 3.3em;
    border-top-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
}
/* ---------------end of default messages------------------------------ */








