/* -----inner Bootstrap edit(Registration Model Section)-------------- */
        /* ---------RegistrationForm style-------------- */
.custom-control-label {
  cursor: pointer !important;
}
.modal-title {
  text-align: center !important;
  margin-top: 8px;
  letter-spacing: 1px !important;
  color: rgb(78, 78, 78);
  box-shadow: 1px 1px 3px 1px rgba(201, 201, 201, 0.384) !important;
  padding: 12px;
  font-family: nunito !important;
}
.modal-header {
  border-bottom: none !important;
}
.modal-content {
  border-radius: 0.3em !important;
}
             /* ------ResetPassword Style----------- */
.modal-open .modal{
  /* background: #3498db; */
  background: linear-gradient(to right, #141e30, #243b55);
}
.modal-footer{
  border-top: none !important;
}
.modal-dialog .MDBcontent{
  margin-top: 10em !important;
}
.modal-footer .MDBbutton{
  color: #b9b9b9;
  box-shadow: 0 0 0 1px rgb(216, 216, 216);
  font-weight: 500;
  font-size: 1.2em;
}
.modal-footer .MDBbutton:hover{
  color: #f1f1f1;
  box-shadow: none;
  background: linear-gradient(to right, #29354db6, #243b55);
  border-radius: 0.25em;
}
.modal-footer .MDBbutton:focus{
  background: #1984cc;
  color: #f1f1f1;
}
.modal-footer .MDBbutton:focus i{
  display: inline-block !important;
  margin-left: 0.5em;
  transition: all 0.3s ease;
}

/* ---------------end of Bootstrap(Registration Section)-------------------- */

.flex-container{
  display: flex;
  min-height: 100vh;
}
.flex1{
  flex: 40%;
}
.flex2{
  flex: 60%;
  font-family: nunito;
  margin-right: 1em;
}

body {
    background: #6e757a;
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    min-height: 100vh;
  }
  
  /* ----------------Login Section------------------------ */

  /* title */
  .appTitle {
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
  }
  .appTitle h1 {
    margin: 0 0 20px;
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Baloo Thambi 2', cursive;
    color: #f1f1f1;
  }
  
  /* Container */
  .box-container {
    position: relative;
    max-width: 460px;
    width: 100%;
    /* margin: 0 auto 100px; */
    margin-top: 6em;
    margin-left: 5em;
  }
  .box-container.active .card:first-child {
    background: #f2f2f2;
    margin: 0 15px;
  }
 
  
  
  /* Card */
  .card {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
  }
 
  .card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid rgb(48, 110, 180);
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: rgb(75, 134, 201);
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .card .input-container {
    position: relative;
    margin: 0 60px 50px;
  }
  .card .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 400;
  }
  .card .input-container input:focus ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
  }
  .card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
  }
  .card .input-container input:valid ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -50%) scale(0.75);
            transform: translate(-12%, -50%) scale(0.75);
  }
  .card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    transition: 0.2s ease;
    transition: 0.2s ease;
    font-family: 'Baloo Thambi 2', cursive;
  }
  .card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
  }
  .card .input-container .bar:before, .card .input-container .bar:after {
    content: '';
    position: absolute;
    background: rgb(51, 106, 168);
    width: 0;
    height: 2px;
    transition: .2s ease;
    transition: .2s ease;
  }
  .card .input-container .bar:before {
    left: 50%;
  }
  .card .input-container .bar:after {
    right: 50%;
  }
  .card .button-container {
    margin: 0 60px;
    text-align: center;
  }
  .card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    transition: .3s ease;
    transition: .3s ease;
  }
  .card .button-container button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    transition: .3s ease;
  }
  .card .button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: rgb(51, 106, 168);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: rgb(51, 106, 168);
  }
  .card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
    color: rgb(51, 106, 168);
  }
  .card .button-container button:active span, .card .button-container button:focus span {
    color: #ffffff;
  }
  .card .button-container button:active:before, .card .button-container button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
  }
  .card .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
  }
  .card .footer a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .card .footer a:hover {
    color: #bababa;
  }
  
  /* Keyframes */
  @keyframes buttonFadeInUp {
    0% {
      bottom: 30px;
      opacity: 0;
    }
  }
  @keyframes buttonFadeInUp {
    0% {
      bottom: 30px;
      opacity: 0;
    }
  }

  #go{
    animation: move 1s linear infinite alternate;
    transition: 0.5s linear;
    animation-fill-mode: both;
  }
  @keyframes move{
    to{
      transform: translateX(30px);
    }
  }
  .card .button-container button:hover #go{
    animation: none;
    transform: translateX(50px) rotate(0deg);
  }

  .fa-unlock{
    /* animation: change 1.5s linear infinite alternate-reverse; */
    color: rgba(99, 96, 96, 0.733);
  }
  /* @keyframes change{
    to{
      color: rgba(99, 96, 96, 0.733);
    }
  } */

  #loginStatus{
    text-align: center;
    margin-top: 4vh;
    font-family: nunito;
    color: #696969;
  }
  /* ----------------end of Login Section----------------------------- */

  /* ---------Registration Model Section------------------ */
 
  #modalRegisterForm {
    /* background: rgb(82, 83, 85) !important; */
    background: linear-gradient(to right, #2c3e50, #3498db) !important;
  }
  #proffesionalSection {
    display: none;
  }
  #proffesionalSection i{
    font-size: 1em !important;
  }
  
  .verticalBar1{
    border-left: 10px solid royalblue;
    box-shadow: 0 2px 0 0 royalblue;
    height: 5em;
    margin-left: -16px;
  }
  .verticalBar2 {
    border-left: 5px solid royalblue;
    height: 3em;
    margin-left: -32px;
    margin-top: -1.4em;
  }
  .btn.regBtn{
    border: 2px solid rgba(126, 126, 126, 0.26) !important;
    color: rgb(146, 146, 146);
    font-weight: 600;
    letter-spacing: 0.05em;
    box-shadow: none !important;
    border-radius: 0.2em;
  }
  .btn.regBtn:hover{
    border: 2px solid rgba(102, 129, 209, 0.637) !important;
    color: royalblue !important;
  }
  .btn.regBtn:active, .btn.regBtn:focus {
    background: royalblue !important;
    color: #fff !important;
  }

  
/* --------------end of Registration------------------- */

/* --------------------OTP Section----------------------- */
.otp-container{
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.otp-container h3{
  font-family: nunito;
  font-size: 1.7em;
}
.otp-content{
  margin-left: 1em;
}
/* .otp-content input{
  text-align: center;
  color: grey;
} */
#code{
  border-radius: 0.8em;
  padding: 0.5em;
  margin-top: -0.5em;
  outline: none;
  border: 2px solid rgb(230, 230, 230);
  text-align: center;
  color: grey;
}
#code:focus{
  border: 2px solid cornflowerblue;
  color: royalblue;
}
.otp-button{
  margin-top: 1em;
  text-align: center;
}
.otp-button button{
  padding: 0.5em;
  margin-top: 2em;
  background: none;
  border: 1px solid rgb(155, 155, 155);
  line-height: 25px;
  color: rgb(196, 196, 196);
  font-family: nunito;
  cursor: pointer;
  border-radius: 0.2em;
  transition: 0.3s ease;
  font-size: 1em;
}
.otp-button button:hover{
  color: rgb(77, 77, 77);
  border: 1px solid rgb(170, 170, 170);
  background: #f1f1f1;
}
.otp-button button:focus{
  background: rgb(51, 97, 182);
  color: snow;
  border: 1px solid #5077e2;
  padding-left: 2em;
  padding-right: 2em;
  transition: 0.3s ease;
  animation: roll 0.5s infinite alternate ease-in-out;
}
@keyframes roll{
  from{
      background: rgb(64, 114, 206);
  }
  to{
      background: rgb(128, 162, 226);
  }
}
.otp-svg{
  margin-top: 2em;
  margin-left: 9em;
}
/* -----------------End of OTP section----------------- */

.profilePicUpload{
  width: 100px;
  height: 100px;
  background: rgba(70, 131, 180, 0.548);
  /* box-shadow: 0 0 0 2px steelblue; */
  border-radius: 50%;
  margin-top: -2.4em;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addClassBackgroundColor{
  background: rgb(94, 139, 223);
}

/* --------ResetPassword Section------------------ */
#resetPassword{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(194, 194, 194);
  margin-top: 1.2em;
}
#resetPassword button{
  background: none;
  border: none;
  outline: 0;
  color: #2788c98c;
  margin-left: 0.2em;
}
#resetPassword button:hover{
  color: #3498db;
  /* background: #8dcdf852;
  border-radius: 1em; */
}
#changeModalContent{
  display: none;
  padding: 0;
  margin: 0;
  background: rgba(70, 131, 180, 0.884);
}
#resetButton{
  color: rgb(146, 146, 146);
  font-weight:500;
  letter-spacing:1px;
}

/* ----------end of resetPassword Section------------ */