<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Test</title>
        <style>
            .title{
                font-size: 2em;
                color: seagreen;
            }
            .dataRecieved{
                font-size: 1em;
                 color: blueviolet;
            }
            .logout{
                margin-top: 2em;
            }
        </style>
    </head>

    <body>
        <div class="st-div">
            <h5 class="title">(Title Placeholder)</h5>
            <br />
        </div>


        <div id="totalCount" class="dataRecieved">
            Name:<span id="name" style="margin-left: 0.5em;">xxx</span>
            Age:<span id="age" style="margin-left: 0.5em;">xxx</span>
            Address:<span id="address" style="margin-left: 0.5em;">xxx</span>
        </div>

        <div class="logout">
            <button id="logout" onclick="logout()">
                Logout
            </button>
        </div>

        <script>
            var jsonfile;
            var dataRequest = function() {
                let url =
                    "http://127.0.0.1:3000/api/v1/home/";
                let req = new Request(url, {
                    method: "GET",
                    mode: "cors"
                });
                fetch(req)
                    .then(resp => resp.json())
                    .then(data => {
                        jsonfile = data;
                        document.getElementById("name").innerHTML = jsonfile.name;
                        document.getElementById("age").innerHTML = jsonfile.age;
                        document.getElementById("address").innerHTML = jsonfile.address;
                    });
            };
            dataRequest();

            var logout = function() {
                sessionStorage.clear();
                document.location.href = "form.html";
            };
            retrive(page);

        </script>
    </body>
</html>
